#root {
  /* display: flex; */
  /* width: 100vw;
  height: 100vh; */
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
}
main {
  display: flex;
  border: 5px black;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
/* h1 {
justify-content: center;
display: flex;
align-items: center;
border: solid #000;
border-width: 10 1px;
margin: 5rem;
padding: 5rem;
} */
.box {
  justify-content: center;
display: flex;
align-items: center;
border: solid #000;
border-width: 10 1px;
margin: 5rem;
padding: 5rem;
}